.header{
    z-index: 99; 
    background-color:#e00b0b;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 1px 5px 5px whitesmoke;
    
}
.header__logo{
 width: 100px;
 margin-left:20px;
 margin-right: 20px;
 margin-top: 5px;
 object-fit: contain;
 box-shadow: 0 8px 16px 0 rgba(117, 117, 116, 0.575);
 border-radius: 10px 10px 10px 10px;
    
}
.header__search{
    box-shadow: 0 8px 16px 0 rgba(117, 117, 116, 0.575);
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex: 1px;
}

.hearder__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
 display: flex;
 flex-direction: column;
 margin-left: 10px;
 margin-right:10px;

}

.header__option1{
 font-size: 10px;
}

.header__option2{
 font-size: 13px;
 font-weight: 800;
 text-align: center;
}

.button_cat{
  
  margin-top: 5px;
  border-radius: 10px 10px 10px 10px;
  outline: none;
  color: white;

}

.button_search{
  margin-top: 5px;
  border-radius: 10px 10px 10px 10px;
  outline: none;
  color: white;
  
  
}

.header__searchInput{
height: 12px;
padding: 10px;
width: auto;
flex: 1px;
border-radius: 10px 10px 10px 10px;
font-size: 1rem;
border: 2px solid rgb(255, 255, 254);
}

.header__link{
    color:#ffffff;
    text-decoration:none;
}

.Lolphone{
 box-shadow: 0 8px 16px 0 rgba(117, 117, 116, 0.575);
 border-radius: 10px 10px 10px 10px;
 color: yellow;
}

.home_icon{
 box-shadow: 0 8px 16px 0 rgba(117, 117, 116, 0.575);
 border-radius: 10px 10px 10px 10px;
 color: yellow;
}

.loli{
 box-shadow: 0 8px 16px 0 rgba(117, 117, 116, 0.575);
 border-radius: 10px 10px 10px 10px;
}