.Books{
 background-color: rgb(226, 224, 224);
}
.Book_card{
    width: 19rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.Book_card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body{
    padding: 2px 16px;
}

.card-img-top{
  border-radius: 5px 5px 5px 5px;
  width: 250px;
  height: 270px;
  margin-left: 25px;
  margin-right: 5px;
  margin-top: 7px;
  margin-bottom: 5px; 
  box-shadow: 0 8px 16px 0 rgba(199, 35, 35, 0.932);
}

.Cat_bar{
    margin-top:20px;
    background-color: #cb2027;
     
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: white;
    width: 100%;
}
/*----------------------------*/
.container{
height:570px ;
width:0 auto ;
margin-top: 80px;
align-items: center;
margin: 50px;
padding-right: 50px;
display: flex;
}

.mb-2{ /*for all card*/
    background-color: rgb(255, 255, 255);
    height: 550px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(216, 27, 27, 0.986);
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;  
    z-index: 2; 
}

.mb-2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}
/* This mouse View hover */
.mb-2:hover{
 height: 600px;
 width: 350px;
 transform: translateY(0);
 opacity: 1;
 cursor: pointer;
}

.CarouselItem{
  display:flex;
  float:left;  
}

.img-fluid{ /*for all image card*/
  border-radius: 5px 5px 5px 5px;
  width: 210px;
  height: 250px;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 7px;
  margin-bottom: 5px; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  display:flex;
  flex: 30%;
  float:left;
}

.card_md{
  display:flex;
  flex: 30%;
  float:left;
  align-items: center;
}

.span-tag{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  
}

.span_tags1{
  font-family: monospace;
  background-color: aqua;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.span_tags2{
  margin-top: 5px;
  font-family: monospace;
  background-color: rgb(251, 253, 109);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.span_tags3{
  margin-top: 5px;
  font-family: monospace;
  background-color: rgb(219, 141, 173);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.span_tags4{
  margin-top: 5px;
  font-family: monospace;
  background-color: rgb(165, 243, 112);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.span_tags5{
  margin-top: 5px;
  background-color: rgba(16, 133, 243, 0.658);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.CardTitle{
  text-transform: uppercase;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Share{
  
  margin-left:80px;
  display: flex;
  text-align: center;
}

.icon{
  height: 50px;
  width: 55px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px 15px 15px 15px;
  color: #f8f8f7fb;
  background-color: #cb2027;
}

.descript{
  display: flex;
  text-align: justify;
  letter-spacing: 0.5px;
    
}