.Em__logo{
    display: flex;
    height: 70px;
    width: 80px;
    float:left;
    margin-top: 20px;
    margin-left: 100px;
}

.Et__logo{
 display: flex;
 color: white;
 float:left;
 margin-top: 30px;
}